<div class="footer">
    <!-- <div class="pull-right">
        Email: <strong>lephuockhu@gmail.com</strong> - SĐT: <strong>0989 870 925</strong>
    </div> -->
    <div class="pull-right">
        <strong>Hệ thống hỗ trợ tìm việc</strong> &copy; 2018
    </div>
</div>